html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('geo-back-2.jpg');
    background-size: cover;
}

.container{
  width: 100%;
  height: 100%;
}

[class*='col-'] {
  float: left;
  .grid &:last-of-type {
  }
}

.col-1-12 {
  width: 8.3%;
}

.col-2-12 {
  width: 16.6%;
}

.col-3-12 {
  width: 25%;
}

.col-4-12 {
  width: 33.3%;
}

.col-5-12 {
  width: 41.6%;
}

.col-6-12 {
  width: 50%;
}

.col-7-12 {
  width: 58.3%;
}

.col-8-12 {
  width: 66.6%;
}

.col-10-12{
  width: 83.33%;
}

.col-12-12 {
  width: 100%;
}

.clear {
  float:none;
}

.f-right {
  float:right;
}

.image {
  width: 100%;
  height: 200px;
  margin: 10px 10px 10px 10px;
}
