html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('geo-back-2.jpg');
    background-size: cover;
}

.container{
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

[class*='col-'] {
  float: left;
  margin: 2% 2% 0 0;
  .grid &:last-of-type {
  }
}

.col-1-12 {
  width: 8.3%;
}

.col-2-12 {
  width: 16.6%;
}

.col-3-12 {
  width: 25%;
}

.col-4-12 {
  width: 31.3%;
}

.col-5-12 {
  width: 41.6%;
}

.col-6-12 {
  width: 50%;
}

.col-7-12 {
  width: 58.3%;
}

.col-8-12 {
  width: 66.6%;
}

.col-10-12{
  width: 83.33%;
}

.col-12-12 {
  width: 100%;
}

.clear {
  float:none;
}

.f-right {
  float:right;
}

.image {
  width: 100%;
  height: 225px;
  -webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
}

.transition {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2) translate(20%, 20%);
}

.hover-title {
  width: 25%;
  height: 225px;
  background-color: #C6B491;
  z-index: 50;
  position: absolute;
  opacity: 0;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  text-align: center;
  padding: 6%;
  text-decoration: none;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.opacity-position {
  opacity: 0.7;
  top: 28%;
  left: 28%;
}
